## Application Info

<div class="module">
	<h3>Applicant Information</h3>
	<div class="innards">
		$application.firstName&nbsp;$application.lastName<br/>
		$application.address1<br/>
		
		#if ($application.address2 && $application.address2 != "")
		$application.address2<br/>
		#end
		
		$application.city, $application.state $application.zipCode<br/>
		<br/>
		(h) $application.homePhone<br/>
		(m) $application.mobilePhone<br/>
		(e) $application.email
	</div>
</div>
