## Application Info
<h3>Applicant Information</h3>

<div class="module">
	<div class="innards">
		#set( $fieldset = [["First Name", "firstName", $application.firstName],
							["Last Name", "lastName", $application.lastName],
							["Address 1", "address1", $application.address1],
							["Address 2", "address2", $application.address2],
							["Zip Code", "zipCode", $application.zipCode],
							["City", "city", $application.city],
							["Home Phone", "homePhone", $application.homePhone],
							["Mobile Phone", "mobilePhone", $application.mobilePhone],
							["Email", "email", $application.email],
							["Email Confirm", "emailConfirm", $application.emailConfirm]
							])
		
		#foreach($f in $fieldset)
			#labelfield($f[0] $f[1] $f[2])
		#end
		
	</div>
</div>
