#macro (currentPet $currentpet)
	<hr>
	#labelfield("Name", "", $currentpet.name)
	#labelfield("Breed / Type", "", $currentpet.breed)
	#labelfield("Age of this pet", "", $currentpet.age)
	#labelfield("This pet sleeps inside", "", $currentpet.isIndoor)
	#labelfield("This pet is sterilized", "", $currentpet.isSterilized)
	#labelfield("This pet is current on its vaccines", "", $currentpet.hasVaccines)
	#labelfield("This pet is on heartworm preventative", "", $currentpet.isHeartwormed)
#end

<div class="module">
	<h3>Current Pets</h3>
	<div class="innards">

		#labelfield("Pets currently owned", "currentPetCount", $application.currentPetCount)
		
		#foreach ($currentpet in $application.currentPets)
			#currentPet($currentpet)
		#end

	</div>
</div>
