
<div class="module">
	<h3>Household Information</h3>
	<div class="innards">
	
		#labelfield ("Living Situation", "livingSituation", $application.livingSituation)
		#if ($application.livingSituation != "own")
			#labelfield ("Pets are allowed there", "petsAllowed", $application.petsAllowed)
			#labelfield ("They can provide proof", "petsAllowedProof", $application.petsAllowedProof)
		#end
			
			
		#set( $fieldset = [["Years", "yearsLived", $application.yearsLived],
							["Months", "monthsLived", $application.monthsLived],
							["Everyone in their household is aware they are adopting a pet", "familyAware", $application.familyAware],
							["If No, explaination:", "familyNotAwareReason", $application.familyNotAwareReason],
							["Primary caretaker", "caretaker", $application.caretaker],
							["Number of people currently living in their household", "householdMemberCount", $application.householdMemberCount]
							])
		
		#foreach($f in $fieldset)
			#labelfield($f[0] $f[1] $f[2])
		#end
		
		#foreach ($age in $application.householdMemberAges)
			#if ($ageList)
				#set ($ageList = $ageList + ', ' + $age)
			#else
				#set ($ageList = $age)
			#end
		#end
		#labelfield("Age of each household member", "householdMemberAgesDiv", $ageList)
	</div>
</div>