
#foreach ($reason in $application.whyWantPet)
	#if ($reasonList)
   		#set ($reasonList = $reasonList + ', ' + $reason)
 	#else
    	#set ($reasonList = $reason)
   	#end
#end

<div class="module">
	<h3>Reasons for Adopting</h3>
	<div class="innards">
		#labelfield("Reasons for adopting ${pet.name} as a pet:", "reasonsForAdopting", $reasonList)
	</div>
</div>


		