
<div class="module">
	<h3>Vet History</h3>
	<div class="innards">
		<label class="autoWidth">Names and phone numbers of
			veterinarians that they have used previously 
			<i>(If the vet history of animals currently in the 
			home cannot be verified, this application should be denied).</i>
		</label>
		<hr>
		
		#macro ( vetmacro $name $phone)
				<div class="row grid2col">
			<div class="column">
				<input type="text" name="$name" id="$name" value="$name"
					class="text" disabled/>
				<input type="text" name="$name" id="$phone" value="$phone"
					class="phoneUS" disabled/>
			</div>
		</div>
		#end
		
		#foreach ($vet in $application.vets)
			#vetmacro($vet.name $vet.phone)
		#end
		
	</div>
</div>
