#macro (labelfield $label $field $value)
	<div class="row">
		<label>$label</label>
		<input type="text" name="$field" id="$field" class="required" value="$value" disabled>
	</div>		
#end

<html>
<body>
	<div class="module">
	<div class="innards">

		#parse ("/com/systemsinmotion/petrescue/templates/pet_info.vm")				
		#parse ("/com/systemsinmotion/petrescue/templates/applicant_info.vm")				
		#parse ("/com/systemsinmotion/petrescue/templates/household_info.vm")
		#parse ("/com/systemsinmotion/petrescue/templates/current_pets_dynamic.vm")
		#parse ("/com/systemsinmotion/petrescue/templates/previous_pets_dynamic.vm")
		#parse ("/com/systemsinmotion/petrescue/templates/vet_history.vm")
		#parse ("/com/systemsinmotion/petrescue/templates/living_conditions.vm")
		#parse ("/com/systemsinmotion/petrescue/templates/reasons_for_adopting.vm")
		#parse ("/com/systemsinmotion/petrescue/templates/disclaimer.vm")
			
		## Bottom of Email
	</div>
</div>

</body>
</html>