<h3>Household Information</h3>
<div class="module">
	<div class="innards">
			
		#set( $fieldset = [["Living Situation", "livingSituation", $application.livingSituation],
							["Years", "yearsLived", $application.yearsLived],
							["Months", "monthsLived", $application.monthsLived],
							["Are pets allowed?", "petsAllowed", $application.petsAllowed],
							["Can you provide proof?", "petsAllowedProof", $application.petsAllowedProof],
							["Is everyone in your household aware you are adopting a pet?", "familyAware", $application.familyAware],
							["If No, explain:", "familyNotAwareReason", $application.familyNotAwareReason],
							["Who will be the primary caretaker?", "caretaker", $application.caretaker],
							["How may people are currently living in your household?", "householdMemberCount", $application.householdMemberCount]
							])
		
		#foreach($f in $fieldset)
			#labelfield($f[0] $f[1] $f[2])
		#end
		
		#foreach ($age in $application.householdMemberAges)
			#if ($ageList)
				#set ($ageList = $ageList + ', ' + $age)
			#else
				#set ($ageList = $age)
			#end
		#end
		#labelfield("List the ages of each household member:", "householdMemberAgesDiv", $ageList)
	</div>
</div>