<h3>Living Condition Information</h3>					
<div class="module">
<div class="innards">	
		#if($pet.animal  == 'CAT')
			<div class="row">
				<label for="planToDeclaw" path="planToDeclaw"
					cssClass="autoWidth" cssErrorClass="error">Pet declawed </label>
				#if($application.planToDeclaw.equals("all") )
						#set($planToDeclaw ='yes all four')
			    #elseif($application.planToDeclaw.equals("front") )
				    	#set($planToDeclaw = 'front')
				#else
				     #set($planToDeclaw = 'No' )
				#end
					<input type="text" value="$planToDeclaw" disabled=true/>
			</div>
		
		#else ## Dog block logic
		
			#if($application.planToAttendObedienceClasses)
				 #set($planToAttendObedienceClasses = "Yes")
			#else
				 #set($planToAttendObedienceClasses = "No")
			#end ## end of planToAttendObedienceClasses if block
		
		<div class="row">
			<label for="planToAttendObedienceClasses"
			 path="planToAttendObedienceClasses" cssClass="autoWidth"
			 cssErrorClass="error">Do you plan on attending obedience classes </label>
			 <input type="text" value="$planToAttendObedienceClasses" disabled=true/>
		</div>
		
		<div class="row ">
			
			 #if($application.fencedYard.equals("partial") )
			 	#set($fenced = 'partial')
			 #elseif($application.fencedYard.equals("completely") )  
			 	#set($fenced = 'completely' )
			 #else
			    #set($fenced = 'No')
			 #end     
			
			 <div class="minorElemBigger">
				  <label>Fenced Yard </label> <input type="text" value="$fenced" disabled=true>
			 </div>
			
			</div>
			
			#if($fenced == 'No' )
				<div class="row" id="willingToInstallFenceDiv">
					#if ($application.willingToInstallFence.equals("electric") )
						#set($willingToInstallFence = 'electric')
					#elseif ($application.willingToInstallFence.equals("physical") )
						#set($willingToInstallFence = 'physical')
					#else
						#set($willingToInstallFence = 'no')
					<div class="row" id="howContainPetDiv">
						<label>Contained in your yard without a fence </label>
				   		 <input type="text" value="$application.howContainPet" disabled=true>
					</div>	
					#end
				
					<div class="minorElem">
						<label>Willing to install fence</label> <input type="text" value="$willingToInstallFence" disabled>
					</div>
				</div>
			#end
			
		#end ## end of dog block
			
		#set( $fields = [["Hours alone", "hoursAlone", $application.hoursAlone],
							["Sleep location", "sleepLocation", $application.sleepLocation],
							["Destructive behavior", "destructiveBehavior", $application.destructiveBehavior],
							["Pet living location", "petLivingLocation", $application.petLivingLocation],
							["Moving plan", "movingPlan", $application.movingPlan],
							["Give up situation", "giveUpSituation", $application.giveUpSituation],
							["Ideal pet", "idealPet", $application.idealPet],
							["Time searching for a pet", "timeSearching", $application.timeSearching]
							])
							
		#foreach($field in $fields)
				#labelfield($field[0] $field[1] $field[2])
		#end		
		
		
		#if($haveAppliedElsewhere == "Yes")
		<div id="whereAppliedDiv">
			<div class="row">
				<label cssClass="autoWidth" cssErrorClass="error">Where else have you applied?</label>
				  <input type="text" value="$application.whereApplied" disabled=true>
		</div>
		<div class="row">
				<label cssClass="autoWidth" cssErrorClass="error">What is the reason for not adopting from above?</label>
				  <input type="text" value="$application.failedAdoptionReason" disabled=true>
		</div>
		#end
	</div>
	</div>
	</div>