<h3>Living Condition Information</h3>					
<div class="module">
<div class="innards">	
		#if($pet.animal  == 'CAT')
			#if($application.planToDeclaw.equals("all") )
					#set($planToDeclaw ='Yes all four')
		    #elseif($application.planToDeclaw.equals("front") )
			    	#set($planToDeclaw = 'Front only')
			#else
			     #set($planToDeclaw = 'No' )
			#end
			#labelfield("Pet declawed", "planToDeclaw", $planToDeclaw)
		
		#else ## Dog block logic
		
			#if($application.planToAttendObedienceClasses)
				 #set($planToAttendObedienceClasses = "Yes")
			#else
				 #set($planToAttendObedienceClasses = "No")
			#end ## end of planToAttendObedienceClasses if block
		
			#labelfield("Do they plan on attending obedience classes", "planToAttendObedienceClasses", $planToAttendObedienceClasses) 
		
			 #if($application.fencedYard.equals("partial") )
			 	#set($fenced = 'Partial')
			 #elseif($application.fencedYard.equals("completely") )  
			 	#set($fenced = 'Completely' )
			 #else
			    #set($fenced = 'No')
			 #end     
			
			#labelfield("Fenced yard", "fencedYard", $fenced)
			
			#if($fenced == 'No' )
				#if ($application.willingToInstallFence.equals("electric") )
					#set($willingToInstallFence = 'Electric')
				#elseif ($application.willingToInstallFence.equals("physical") )
					#set($willingToInstallFence = 'Physical')
				#else
					#set($willingToInstallFence = 'No')
					
				#labelfield ("How they plan to contain without a fence", "howContainPet", $application.howContainPet)

				#end
				
				#labelfield ("Willing to install fence", "willingToInstallFence", $willingToInstallFence)
			#end
			
		#end ## end of dog block
			
		#set( $fields = [["Hours pet would be alone", "hoursAlone", $application.hoursAlone],
							["Sleep location of pet", "sleepLocation", $application.sleepLocation],
							["Reaction to destructive behavior", "destructiveBehavior", $application.destructiveBehavior],
							["Pet living location", "petLivingLocation", $application.petLivingLocation],
							["Their moving plan", "movingPlan", $application.movingPlan],
							["Situation they would give up pet", "giveUpSituation", $application.giveUpSituation],
							["Ideal pet", "idealPet", $application.idealPet],
							["Time searching for a pet", "timeSearching", $application.timeSearching]
							])
							
		#foreach($field in $fields)
				#labelfield($field[0] $field[1] $field[2])
		#end		
		
		
		#if($haveAppliedElsewhere == "Yes")
		<div id="whereAppliedDiv">
			#labelfield("Where else they have applied", "whereApplied", $application.whereApplied)
			#labelfield("What is their reason for not adopting from above", "failedAdoptionReason", $application.failedAdoptionReason)
		</div> 
		#end
	</div>
</div>