<h3>Reasons for Adopting</h3>

<div class="module">
	<div class="innards">
		#foreach ($reason in $application.whyWantPet)
  			#if ($reasonList)
   				#set ($reasonList = $reasonList + ', ' + $reason)
 		 	#else
    			#set ($reasonList = $reason)
   			#end
		#end
		
		#labelfield("Reasons for adopting ${pet.name} as a pet:", "reasonsForAdopting", $reasonList)
	
	</div>
</div>


		